@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Slackside+One&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Slackside One", cursive;
    font-family: "Poppins", sans-serif;
}



.esas_sehife {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(61deg, rgba(28, 28, 29, 0.368) 0%, rgba(1, 1, 1, 0.264) 100%), url("https://images.unsplash.com/photo-1656608138197-2aea23cc3564?q=80&w=1977&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.logo_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    justify-content: center;
    background-color: azure;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: black;
    position: relative;
}


.menu {

    font-family: "Slackside One", cursive;
}

.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_1 img:hover {
    transform: rotateY(60deg);
}

.header_text {
    color: #fff;
    width: 550px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card_1:hover {
    transform: scale(1.1);


}

.card_2:hover {
    transform: scale(1.1);


}

.card_3:hover {
    transform: scale(1.1);


}

.card_4:hover {
    transform: scale(1.1);


}


.btn {
    width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #00d4ff;
    border-radius: 30px;

}



/* Navbar */

.navbar {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.navbar .menu .icone {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px;
    border-radius: 50%;
    display: flex;  
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 7px goldenrod;


}

.icone i {
color: #00d4ff;
font-size: 25px;
}


.navbar .menu ul li {
    color: white;

}

.header_img {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 500px;
}

.header_text h1 {
    font-size: 60px;
}

.header_text p {
    font-size: 30px;
}

.container {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header_main {
    width: 80%;
    /* height: 800px; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.header_img h5 {
    font-family: "Slackside One", cursive;
}

.header_img p {
    font-family: "Poppins", sans-serif;
}


/* logo_1 */

.logo_1 img {
    width: 70px;
}

.container {

    display: flex;
    justify-content: space-between;
    align-items: center;


}


/* CARDS */
.card_1 {

    background-image: url(https://images.unsplash.com/photo-1598482327649-e8831e1505be?q=80&w=2042&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgb(144, 144, 189);


}

.card_2 {
    background-image: url(https://images.unsplash.com/photo-1582236829590-f8cb7de75229?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}


.card_3 {
    background-image: url(https://images.unsplash.com/photo-1607335614551-3062bf90f30e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}


.card_4 {
    background-image: url(https://images.unsplash.com/photo-1607335614785-e1436e859ebf?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}



.h5 {
    font-family: "Slackside One", cursive;
}

.p {
    font-family: "Poppins", sans-serif;
}